[user]
	name = Pelle Almquist
	email = pelle@wrapp.com
[core]
	excludesfile = /Users/pelle/.gitignore_global
	editor = mvim -v
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[alias]
  feature-start = !zsh -c 'git fetch && git branch $0 origin/master && git checkout $0'
  feature-finish = !zsh -c 'export FEATURE=`git rev-parse --symbolic-full-name --abbrev-ref HEAD` && git checkout master && git merge $FEATURE && unset FEATURE'
[merge]
	tool = opendiff
[color]
  ui = auto
