[user]
	name = Pelle Frank
	email = per.almquist@gmail.com
[credential]
	helper = osxkeychain
[core]
	editor = vim
[merge]
	tool = opendiff
	ff = false
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	opendiff = difftool --no-prompt --tool opendiff --dir-diff
[pull]
	ff = only
	rebase = true
[color]
	ui = true
[includeIf "gitdir:~/Projects/nentgroup/"]
	path = ~/.gitconfig-work
