registry=https://viaplay.jfrog.io/artifactory/api/npm/mtg-npm-virtual
@viasport:registry=https://viaplay.jfrog.io/artifactory/api/npm/mtg-npm-virtual
@mtg:registry=https://viaplay.jfrog.io/artifactory/api/npm/mtg-npm-virtual
@msp:registry=https://viaplay.jfrog.io/artifactory/api/npm/mtg-npm-virtual
@viaplay:registry=https://viaplay.jfrog.io/artifactory/api/npm/mtg-npm-virtual
ignore-scripts=true
